body {
    font-family: Arial, sans-serif;
    background: #034614;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

h1 {
    color: #600983;
}

label {
    color: #a0171e;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 15px 0 10px;
    border: 2px solid #ff8fc7;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #9705b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #030a6d;
}

#resultado {
    color: #7a2555;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f3d9ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

li button {
    margin-top: 8px;
    background: #a0171e;
}
